/* STYLE-MODAL */
.modal{
    transition: .2s;
    background: rgba(0,0,0,.8);
}

.modal-body{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.modal-dialog{
    max-width: 2000px;
    
    

    
}

.modal-content{
    height: 600px;
    margin-top: 9%;
    
}

#imgmodal{
    height: 598px;
    z-index: 1;
    transition: 1s;
    
}

#imgmodal:hover{
    margin-left: -20px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 100px;
    background: url(/images/1594711285_Smoke-png-HD.png);
    
    
}

.info h1{
    font-size: 6em;
    padding-bottom: .5em;
    margin-top:-.5em;
    font-family: 'Apex', cursive;
    color: rgb(128, 16, 16);
}

.info p{
    font-size: 1.9em;
    font-family: 'Squada One', cursive;
    margin-left: -100px;
    width: 900px;
}

.btn-close{

    font-size: 30px;
    padding: .5em;
    margin-left: -300px;
}

.btn-map{
    display: flex;
    font-size: 2.5em;
    font-family: Apex;
    margin: .5em;
    transition: .4s;
}

.btn-map:hover{
    color: rgb(128, 16, 16);
}

.hop-up{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.purple{
    background-color: blueviolet;
}

.leg{
    background-color: rgb(255, 238, 0);
}
/* FIN-STYLE-MODAL */