@media screen 
and (max-width:360px)
and (-webkit-min-device-pixel-ratio: 3)
{



    .splash{
        visibility: hidden;
        width: 1%;
    }


    .nav{
        
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        position: static;
        
    }

    .triangle{
        border-left: 60px solid rgb(255, 255, 255, .8);
        border-right: 60px solid rgb(255, 255, 255, .8);
       width: 360px;
    }



.logo{
    position:absolute;
    margin-top: 500px;
    margin-left: 50px;
    height: 200px;
    
}
.logo1{
    margin-left: 8px;
}


.lifelineaccueil{
    height:300px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-left: 20px;
    
    
}
.nav .triangle ul li {
    
    padding-bottom: 30px;
    font-size: 1em;
  
    
}
.sommaire{

    margin: 0;
    padding: 0;
    width: 100%;
    
   
}
.carousel{
    margin-bottom: 200px;
    height: 400px;
}

.nuage{
    width: 580px;
    height: 300px;
    margin-top: -180px;
}
.sand{
    height: 1px;
    visibility: hidden;
}
.sommaire .jouer span{
    font-size: 1.5em;
    width: 100%;
    margin-top: 20px;
    
}

.sommaire .jouer .btnjouer{
    width: 100%;
    margin-top: 70px;
}

.container{
    height: 100%;
}

.modal-body{
    flex-direction: column;
}
#imgmodal{
    visibility: hidden;
}
.info{
    position: absolute;
    margin: 0;
    padding: 30px;
}

.info h1{
    font-size: 3em;
    padding: 0;
    margin: 0;
}
header #Olympus{
    margin-left: -50px;
}
.info p {
    font-size: 1.3em;
    margin: 0;
    width: 300px;
}

.btn-map{
    margin: 0;
}

body{
    background-position-y:0px ;
}

.lianes{
    height: 1px;
    visibility: hidden;
}

.lianes2{
    width: 360px;
    margin-left: 0;
    height: 1px;
}

.lianes3{
    position: absolute;
    height: 1px;
    visibility: hidden;
    width: 1px;
    margin: 0;
    padding: 0;
}

.transitions{
    visibility: hidden;
    height: 1px;
}
.page h1{
    
    width: 360px;
}

.sectionMap{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.image{
    display: flex;
    flex-direction: column;
    width: 360px;
}



.kingmap{
    padding: 1em;
    height: 360px;
    width: 360px;
    
  
}
.kingcanyonimg{
    height: 300px;
    width: 360px;
    margin: 0;
    padding: 0;
    
}

.description{
    width: 350px;
    margin-left: 0;
   
}

.nuage2{
    position: absolute;
    height: 1px;
    visibility: hidden;
}
table{
    padding: 0;
    margin: 0;
}
table tbody{
    width: 100%
}
td{
    font-size: .8em;
}
footer{
    bottom: 0;
    margin-top: 800px
}
}