
/*------- SOMMAIRE STYLE ---------- */


body{
    background: url(/images/sommaire.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-position-y: -600px ;
    max-height: 100%;
    
    
    
}



.sommaire{
    display: flex;
   
}

.lifelineaccueil{
    transition: 1s;
    margin-top: 80px;
}


.lifelineaccueil:hover{
    transition: 1s;
    margin-left: 15px;
}

.sommaire .jouer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sommaire .jouer span {
    color: white;
    font-size: 2.5em;
    text-align: center;
    justify-content: baseline;
    margin-top: 400px;
    height: 100px;
    margin-bottom: 150px;
}

.sommaire .jouer a {
    text-decoration: none;
    
}

.sommaire .jouer .btnjouer{
    display: flex;
    color: white;
    font-size: 2.5em;
    padding: .2em;
    border: solid 8px white;
    background: transparent;
    background-color: rgb(255, 255, 255, .3);
    width: 500px;
    justify-content: center;
    border-radius: 20px;
    font-family: 'Apex', cursive;
    
}

.sommaire .jouer .btnjouer:hover{
    color: rgb(182, 35, 35);
    border-color: rgb(182, 35, 35);
    background-color: rgb(182, 35, 35, .3);
}
.sommaire .splash{
    position: absolute;
    transition: 1s;
    height: 500px;
    z-index: -1;
 
}

.sommaire .splash2{
    height: 800px;
    margin-bottom: -500px;
    margin-top: 100px;
   
    
}
