body{
    background: url(/images/backgroundworldedge.jpg);
    
    background-position-y: 800px;
    background-size: 116%;
}

.transitions{
    position: absolute;
    width: 100%;
    z-index: 4;
    height: 800px;
    margin-top: -260px;
    transform: rotate(180deg);
   
}



@media screen 
and (max-width:360px)
and (-webkit-min-device-pixel-ratio: 3)
{
.page{
    margin-top: -10px;
}
}

