@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Lekton:wght@700&family=Mate+SC&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{

    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding : 0;
    font-family:'Asap Condensed', serif;
    background: linear-gradient(rgb(18,18,18), #2e2920, #a87000);
    width: 100%;
}


nav {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    width: 100%;
    background:transparent;
    justify-content: space-between;
    
}

nav a img{

    display: flex;
    justify-content: left;
    height: 100%;
    max-height: 100px;

}

nav .onglets {

    margin-top: 3px;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 767px) {
    
    nav .onglets {

        margin: 0;
        flex-direction: column;
    }
}

nav .onglets a {

text-decoration: none;
color: rgb(255, 255, 255);
justify-content: space-between;
margin: 0 100px 0 20px;
font-size: 120%;
font-family: 'Montserrat', sans-serif;
transition: 0.4s;
    
}

.menu:hover{
    font-size: 150%;
    color: #fc9b1d;
    border-bottom: solid 1px #fc9b1d;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(image/header.jpg);
    background-size: cover;
    color: #fff;
    padding: 3.5em;
    
    
}

header h1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    transition: all .4s ease;
}
header h1:hover{
    font-size: 500%;
}
header h3 {

    font-size: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fc9b1d;
}




.content {
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 450px;
    
   
    
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
  transition: all .4s ease;
  
}

@media screen and (max-width: 767px) {

    .main .content{
        padding: 0;
    }

    .main .content .card {
        flex-direction:column-reverse ;
        justify-content: center;
    }
}
.left {
    padding: 20px;
    background-color: #000;
    color:#fff;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    height: 200px;
    width: 500px;

    

}

strong{
    color: #fc9b1d;
}

.main .content .card .right img {

    height: 100%;
    max-height: 280px;
    margin-top: 0px;
    margin-bottom: -4px;
}

.js-scrollTo{
    text-transform: none;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 300%;
    margin-top: 40px;
    color: #fff;
    transition: 0.5s;
    
    }
    

 .main .buttonbas{
    display: flex;
    justify-content: center;
margin-bottom: 50px;
font-size: 300%;
margin-top: 40px;
color: #fff;
transition: 0.5s;
}

.buttonbas:hover{
    font-size: 400%;
    border: solid 5px #fc9b1d;
    border-radius: 50px;
    color: #fc9b1d;
}

.buttonhaut{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 300%;
    margin-top: 40px;
    color: #fff;
    transition: 0.5s;
    }
    
    .buttonhaut:hover{
        font-size: 400%;
        border: solid 5px #000000;
        border-radius: 50px;
        color: #000000;
    }


.second {
    background: url(/image/second.jpg);
    margin-bottom: 90px;
    border-bottom: 5px solid #fc9b1d;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.second .competence{
    text-align: center;

}


.second .content .card2 {
    display: flex;
     color: #fff;
    
     
}

.content2{
min-height: 200px;
}

.reveal{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: .3s;
}


.second .content2 .card2 .codage{

    float: left;
    width: 60%;
    

}
.second .content2 .card2 .logiciel{

    overflow: auto;
    height: 617px;
;
}

@media screen and (max-width: 767px) {

    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .note{
        display: none;
    }
}
.second h4 {

    
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
 
    border-radius: 20px;
    
    margin-top: 100px;

    
}



.unity{

    font-size: 800%;
    color: #fff;
    display: flex;
    margin-top: 60px;
  
}

.unity h5{
    margin: 0;
    font-size: 25%;
    padding-top: 40px;
    margin-left: 40px;
}

.flstudio{
    margin-top: 40px;
    color: #fff;
    display: flex;
    font-size: 250%;
}

.flstudio h5{
    margin: 0;
    padding-top: 60px;
    margin-left: 40px;
}

.photoshop{
    margin-top: 40px;
    display: flex;
    color: #fff;
}

.photoshop .niveau{

    margin-left: 40px;
    padding-top: 20px;
    font-size: 180%;

}

.logohtml{

    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}


 #logoh,
 .logoh{
    background: none;
    height: 100px;
    width: 100px;
    display: block;
    color: #fff;
    font-size: 100px;
}

.second .logohtml h5 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 150%;
    line-height: 100px;
    margin: 0!important;
}



.note {
    position: relative;
    background:transparent;
    width: 200px;
    height: 100px;
    overflow: hidden;
    line-height: 100px;
    margin: 0 20px 0 20px;
}

.rond{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #fff;
}
.rond:before{
    width: 200px;
    height: 5px;
    content:"" ;
    background: #fff;
    position: absolute;
    left: -200px;
    top: 7px;

}

.rond:after{
    width: 200px;
    height: 5px;
    content:"" ;
    background: #fff;
    position: absolute;
    right: -200px;
    top: 7px;

}


.rond.pos40{
left:40%;
}
.rond.pos30{
    left:30%;
    }
    .rond.pos10{
        left:10%;
        }
        .rond.pos05{
            left:05%;
            }
.logocss{
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

    .html5{
        color: #ff4e18;
    }

    .css3{
        color: rgb(30, 109, 255);
    }

    .java{

        color: #ffcd2a;
    }
    .python{
        background: -webkit-linear-gradient(315deg,#6950af 50%, #ffb71d 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

.second .logocss h5 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 150%;
   
    

}


.logojs{
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    margin-left: -45px;
}

.second .logojs h5 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 150%;
}

.logopython {

display: flex;
margin-top: 40px;
margin-bottom: 40px;
justify-content: center;
margin-left: -45px;


}



.second .logopython h5{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 150%;
}


.third .Projets{

    text-align: center;
    margin-top: -80px;
}

.third .Projets h4 {

    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 200%;
    border: 2px solid #a87000; 
    margin-bottom: 30px;
    border-radius: 45%;
    padding: .5em;
    
}

.third .Projets .travaux {
    display: flex;
    justify-content: center;
    
}

.lien{
    margin: 2em;
    height: 15em;
    width: 100%;
    width: 25em;
}

.lien:hover{
    box-shadow: #fff 0 0 5px;
}

@media screen and (max-width: 767px) {
    embed{
        width: 100%;
        max-height: 300px;
    }
}
embed:hover{
  box-shadow: 0px 0px rgba(0,0,0,.25);
}
.haut {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }

  .social {

    font-size: 300%;
    display:flex;
    color: #fff;
    transition: 0.4s;
    padding-top: 100px;

} 

  .footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:center;
    background: url(/image/fondfooter.jpg);
    
    

}

footer{
    display: flex;
    justify-content: center;
}

.linked{

    padding-right: 50px;
    padding-left: 50px;
}


.social:hover{
    font-size: 450%;
    text-shadow: #fff 0 0 5px;
}

.discord:hover{
    color: rgb(83, 32, 177);
}

.linked:hover{
    color:rgb(30, 117, 216)
}

.github:hover{
    color: rgb(18,18,18);
}

  