body {
  font: 1em sans-serif;
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Koulen', cursive;
}

form {
  max-width: 300px;
  margin: 0;
  padding: 0 5px;
}

p>label {
  display: block;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
  -webkit-appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

#erreur {
  color: red;
}





.input-control{
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color: #dbdbdb;
  border-radius: 6px;
  padding: 15px;
  justify-content: center;
  
}

.input-control img{
  width: 20px;
  position: relative;
  top: 3px;
}

.input-control input{
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  outline: 0;
  border: 0;
  color: #000;
  background-color: #dbdbdb;
  
}

.input-control input::placeholder{
  color: #838f9f;
}

.main-title{
  margin: 30px 0;
}

/* Table */

.table{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-results{
  grid-column: 1 /-1;
}

.table-title{
  padding: 15px;
}

.table-item{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 15px 10px;
  background-color: #fff;
}

.table-item:nth-child(odd){
  background-color: #dbdbdb;
}

.container-image img{
  width: 100px;
  margin-right: 10px;
}

.table-item p {
  padding: 15px;
  
}

/* RESPONSIVE */

@media screen and (max-width: 700px) {
  .table{
    display: block;
  }
  .table-title{
    display: none;
  }
  .table-item{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 50px;
    height: auto;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    

    
  }

  .table-item p {
    padding: 0;
    margin: 0;
  }

  .table-item button {
    width: 100%;
  }


}

button{
  cursor: pointer;
  width: 100px;
  border: 2px transparent ;
  background-color: rgb(255, 166, 0);
  height: 50px;
  border-radius: 9px;
}

button img{
  height: 30px;
}

.filtericon{
  height: 40px;
  margin: 10px;
}
.trie{
  background: #dbdbdb;
  width: 20.5%;
  border-radius: 9px;
  display: flex;
}
.trie div {
  font-size: 1.5em;
  cursor: pointer;
  height: 100%;
  padding: 10px;
}





#trieAlbums{
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}