@media screen 
and (device-width:360px)
and (-webkit-min-device-pixel-ratio: 3)
{

  html{
    width: 360px;
  }
body {
  width: 360px;
}

  nav{
    font-size: 40%;
    justify-content: space-between;
    align-items: left;
    width: 100%;

  }
  
  ul {
    display: block;
  }
  .section1 {
    background-size: 150%;
    height: 740px;
    
    
  }
 .field-container{

  width: 70%;
  justify-content: center;
  }

  input{
    margin-left: -15px;
  }

  .icon-search{
    margin-left: -8px;
  }
  .section2{
    display: block;
    height: 1100px;
  }

  #nomproduit{
    font-size: 100%;
    text-align: center;
  
  }


  .barcode{
    height: 100px;
    width: 120px;
    margin-top: 30px;
  
  }

 .nutriscore{
  margin-left: 30px;
  height: 100px;
  
  
 }

 .gauche{
   width: 360px;
   height: 300px;


 }

 .produit {
  
   padding: 0;
   margin-left: 30px;
    
 }

 .droite{
   width: 100%;
  
 }
#ingredient{
text-align: center;
margin-top: 50px;
}

p {
  padding: 0;
  font-size: 120%;
  background: none;
  border-radius: 0%;
  width: 360px;
  text-align: center;
}
.valeur {

  background-size: 100%;

}

#nutri, #nutri2, #nutri3 h1{
  font-size: 2em;
}

#imagevaleur {
  width: 100%;
  padding: 0;
}

#tableau{
  width: 100%;
}


}