
/* STYLE PAGE KING CANYON */

body{
    background: url(/images/apexlegendBackground.jfif);
    background-position-y:800px ;
    
}
@media screen 
and (max-width:360px)
and (-webkit-min-device-pixel-ratio: 3)
{
.page{
    margin-top: 800px;
}
}

