body{
    background: url(/images/apexlegendBackgroundbleu.png);
    background-position-y:800px ;
    
}

.nuage{
 height: 400px;
 margin-top: -210px;
}

.nuage2{
    width: 590px;
}

@media screen 
and (max-width:360px)
and (-webkit-min-device-pixel-ratio: 3)
{
.page{
    margin-top: -50px;
}
}