$color1 :  (#ff0);
$color2 :  (#ff4);
$color3 :  (#222);
$color4 :  (#444);
$color5 :  (#eee);
$color6 :  (#fff);



body {
    display: grid;
    grid-template-columns: 300px 800px;
    
    background-color:$color5;
}
header{
    margin: 0;
    padding: 0;
    
    background-color: $color4;


h1{
    font-family: "Grand Hotel", sans-serif ;
    color: $color1;
}
}




